<div mat-dialog-content class="message">
  {{message}}
 </div>
 <div mat-dialog-actions>
    <button mat-button mat-stroked-button (click)="onNoClick()" class="button">No</button>
    <button mat-button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial class="button">Yes</button>   
 </div>