<div class="div-form">
  <form class="example-form" [formGroup]="subscriptionForm">
    <div style="display: flex; width: 100%;">
      <div class="padding">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nome" value="{{filterUserName}}" value="{{filterUserName}}" formControlName="userName" (input)="setFilterUserName($event)">
        </mat-form-field>
      </div>      
      <div class="padding">
        <mat-form-field class="example-full-width">
            <mat-select placeholder="Situação" formControlName="situation" [value]="filterSituation" (selectionChange)="setFilterSituation($event)">
              <mat-option value="{{situation.value}}" *ngFor="let situation of situations">{{situation.text}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="padding">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Perfil" formControlName="perfil" [value]="filterPerfil" (selectionChange)="setFilterPerfil($event)">
            <mat-option value="{{profile.value}}" *ngFor="let profile of profiles">{{profile.text}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="padding">
        <button mat-stroked-button type="submit" (click)="OnSubmit()" mat-button>Pesquisar</button>
      </div>
    
    </div>  
  </form>
</div>
<div class="padding">
  <button mat-stroked-button type="submit" (click)="openFormInsertUser()" mat-button>Incluir</button>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.strEmail}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.strName}} </td>
    </ng-container>

    <ng-container matColumnDef="perfil">
      <th mat-header-cell *matHeaderCellDef> Perfil </th>
      <td mat-cell *matCellDef="let element"> {{getPerfil(element.numPerfilAccess)}} </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef> Habilitado </th>
      <td mat-cell *matCellDef="let element" (click)="enableAndDisable(element.numId, element.strSituation)"> 
        <i [ngClass]="{'gg-check' :  element.strSituation === 'A', 'gg-close' : element.strSituation !== 'A'}"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element" (click)="edit(element.numId)">
        <i class="gg-pen"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Deletar </th>
      <td mat-cell *matCellDef="let element" (click)="delete(element.numId, element.strName)">  
        <i class="gg-trash"></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>