<div>
  <form [formGroup]="subscriptionForm">
    <mat-form-field appearance="fill" class="sizeFiled">
      <mat-label>E-mail *</mat-label>
      <input matInput formControlName="userEmail" (input)="enableButtonFunction()">
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="padding sizeFiled">
      <mat-label>Nome *</mat-label>
      <input matInput formControlName="userName" (input)="enableButtonFunction()">
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="sizeFiled">
      <mat-label>CPF *</mat-label>
      <input matInput formControlName="userCpf" [textMask]="{mask: maskCpf}" (input)="enableButtonFunction()">
    </mat-form-field>

    <br />

    <mat-form-field appearance="fill" class="sizeFiled">
      <mat-label>Telefone *</mat-label>
      <input matInput formControlName="userFone" [textMask]="{mask: maskFone}" (input)="enableButtonFunction()">
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="padding sizeFiled">
      <mat-label>Função *</mat-label>
      <mat-select formControlName="userFunction" (selectionChange)="enableButtonFunction()">
        <mat-option value="-1"></mat-option>
        <mat-option value="{{externalUserFunction.numFunction}}" *ngFor="let externalUserFunction of externalUserFunctionList">{{externalUserFunction.strFunction}}</mat-option>            
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill"  class="sizeFiled">
      <mat-label>Perfil *</mat-label>
      <mat-select formControlName="userProfile" (selectionChange)="enableButtonFunction()">        
        <mat-option value="-1"></mat-option>
        <mat-option value="0">Aluno</mat-option>
        <mat-option value="1">Gestor Municipal</mat-option>
        <mat-option value="2">Gestor Estadual</mat-option>
        <mat-option value="3">Gestor Nacional</mat-option>
      </mat-select>
    </mat-form-field> 

    <div style="display: flex;">
      <div class="padding">
        <button mat-stroked-button type="submit" (click)="home()" mat-button>Voltar</button>
      </div>
      <div class="padding">
        <button mat-stroked-button type="submit" (click)="onSubmit()" mat-button [disabled]="!enableButton">Salvar</button>
      </div>
    </div>
  </form>
</div>