<div mat-dialog-content class="message">
  {{message}}
 </div>
 <div mat-dialog-actions>
  <button mat-button mat-stroked-button (click)="onNoClick()" class="button">Ok</button>
   <!--
     <button mat-button (click)="onNoClick()">No</button>
     <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
   -->
 </div>